.icon {
  margin: 10% 40% 5% 40%;
}
.form {
  display: flex;
  flex-direction: row;
  background-color: #9fb8ad;
  border-radius: 30px;
  padding: 5px 15px 5px 15px;
}
.send_icon {
  display: flex;
  cursor: pointer;
  flex: 0 !important;
}
.input {
  /*width: 80%;*/
  display: flex;
  flex: 1 !important;
  margin: 20px;
}
